<!DOCTYPE html>

<html xmlns="https://www.w3.org/1999/xhtml">
<head>
    <link type="text/css" rel="stylesheet" href="https://cfs.ojk.go.id/cfs/WebResource.axd?d=YaTGqpMeTDvK60QyVHLZbyHyWgwfMw389iNeJah3UoXJFhNI1YtcNZdD2okiXgMkQFPqWisKCrfLjFmEFmN89oyBqvohviixOTf-vPDTtjXKcp615D_DgtOXvGUY2rmmTGHDiYiRKOBykQGPfq3kyzaBGynQ-QjyEP0IQ1aCqDOcVVBHalOEZUNVbnV-pmExtyGg6CWHWFoDrWNi3yBkjQ2&amp;t=635176504860000000" id="ext-theme" />
    <link type="text/css" rel="stylesheet" href="https://cfs.ojk.go.id/cfs/WebResource.axd?d=bQ6ZOVjygC_cJ3GdPfyfWg8ZZChgb3ZHfXwXF90kMh2nVHK-Sfw86HqaDFjX9k4R15g4dlVlXgoAsAb0t7wD-vum5UN9I7JqK2GAbPs3JImghXMtUJ_bUbYChK_Gq5IM5jIpb6cqfmdQkgMyEr8l9Aw4nhOrM_hCpdlZ3itAy1Bs55PSHI4qE2NpqIV_mp4Y0&amp;t=635176504860000000" id="extnet-styles" />
    <script type="text/javascript" src="https://cfs.ojk.go.id/cfs/WebResource.axd?d=AMh_K7a3W0v2gALJMCNPDlJnzxXCUYuLQeKZ_BYy-Eyz-h3VDG2wd3ym0CE07EyOn8tQwol5ZNQgUjBh1muNEsnPoDldDej8I6nmA85Po8hwXOFI8o0qfYgOvqDP2hZArnivDW3-SGTI3pmir_r3qQ2&amp;t=635176504860000000"></script>
    <script type="text/javascript" src="https://cfs.ojk.go.id/cfs/WebResource.axd?d=jxij5zHoYbh0cPItp1-W5V3CwM2bkr9HM7k4JB4C6ED6SHsXwTZrT98psNy_GA6mS9OHiQrPdXojTsFM-ionOt3cEWnEa95X44wGuVVQu8IGZemctXkPVdvYDXwNYvSXhviN9jRfb2Ogo0lQJTHvO85NHxO64jWvbPHdyaLQrB01&amp;t=635176504860000000"></script>
    <script type="text/javascript" src="https://cfs.ojk.go.id/cfs/WebResource.axd?d=7c8KmGEZQRRrBBszY0bjKBrfFzvuZIj0oQGGZzu9H7s_aCbsdaBP2dlN7VqLlYUf05Z-y22WFS3d-czwkvjSuXVHQDn0d4gL5HSmbipDu2xBErfxXNxaziFGLFoTPoPI4jzoMkZh12jKA97dnVzqxA2&amp;t=635176504860000000"></script>


    
        <script type="text/javascript" src="https://cfs.ojk.go.id/cfs/Scripts/Default.js"></script>
    <title>
	Laporan Publikasi Perbankan
</title>
    <script type="text/javascript" src="https://cfs.ojk.go.id/cfs/Scripts/Default.js"> </script>

    <script type="text/javascript">
    //<![CDATA[
        Ext.net.ResourceMgr.init({id:"DefaultResourceManager",aspForm:"DefaultForm",theme:"neptune",appName:"cfs"});Ext.onReady(function(){Ext.create("Ext.tab.Panel",{id:"MainTab",renderTo:"App.MainTab_Container",directEvents:{tabchange:{fn:function(item,newTab,oldTab){Ext.net.directRequest({control:this,action:'TabChange'});}}}});Ext.net.ResourceMgr.destroyCmp("App.BUK");App.MainTab.add({id:"BUK",xtype:"panel",title:"Bank Umum Konvensional"});Ext.net.ResourceMgr.destroyCmp("App.UUS");App.MainTab.add({id:"UUS",xtype:"panel",title:"Unit Usaha Syariah"});Ext.net.ResourceMgr.destroyCmp("App.BUS");App.MainTab.add({id:"BUS",xtype:"panel",title:"Bank Umum Syariah"});Ext.net.ResourceMgr.destroyCmp("App.BPK");App.MainTab.add({id:"BPK",xtype:"panel",title:"BPR Konvensional"});Ext.net.ResourceMgr.destroyCmp("App.BPS");App.MainTab.add({id:"BPS",xtype:"panel",title:"BPR Syariah"});App.MainTab.setActiveTab("BUK");});
    //]]>
    </script>
</head>
<body>
    
    <div style="height: auto;">
        <form method="post" action="cfs" id="DefaultForm" style="height: 100%;">
<div class="aspNetHidden">
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUINzkwMzk0NzdkGAEFHl9fQ29udHJvbHNSZXF1aXJlUG9zdEJhY2tLZXlfXxYCBRZEZWZhdWx0UmVzb3VyY2VNYW5hZ2VyBQdNYWluVGFiwW5Ilz8GlHueNN42ennfn8rPW9cR5RZhluaSuWrqUp8=" />
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['DefaultForm'];
if (!theForm) {
    theForm = document.DefaultForm;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


<div class="aspNetHidden">

	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEdAAI6xROCV3E0vzliqN79edNp1QKU9BaByP5phR/F0FMPusazkJJpjNIBDvMLoBuGRa8hzuB4G9233Hjmgx8g6boL" />
</div>
            <div id="DefaultMainFrame" style="height: 100%;">
                <div id="App.MainTab_Container"></div>
                <iframe id="MainReportFrame"></iframe>
            </div>
        </form>
    </div>
</body>
</html>
<link href="https://cfs.ojk.go.id/cfs/Styles/Default.css" rel="stylesheet" type="text/css" media="all" />